<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Rename.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="Rename.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<!-- inactive period in hours -->
		<!--<add key="inactivePeriod" value="24"/>-->
		<add key="Log4NetConfigFile" value="App.log4net"/>
		<add key="tabPage1.AutoScroll" value="False"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
  <Rename.Properties.Settings>
   <setting name="removeDigit" serializeAs="String">
    <value>All</value>
   </setting>
   <setting name="removeSpace" serializeAs="String">
    <value>All</value>
   </setting>
   <setting name="logger" serializeAs="String">
    <value>Yes</value>
   </setting>
   <setting name="isFirstAccess" serializeAs="String">
    <value>True</value>
   </setting>
  </Rename.Properties.Settings>
  <Rename.Settings>
   <setting name="removeDigit" serializeAs="String">
    <value>All</value>
   </setting>
   <setting name="removeSpace" serializeAs="String">
    <value>All</value>
   </setting>
   <setting name="logger" serializeAs="String">
    <value>Yes</value>
   </setting>
  </Rename.Settings>
 </userSettings>
</configuration>
